<link rel="stylesheet" href="assets/css/social-share-kit.css">

<style>

.fa-facebook:hover {
    color: #3B5998;
    background-color: transparent;
}

.fa-twitter:hover {
    color: #0c85d0;
    background-color: transparent;
}

.fa-github:hover {
    color: yellow;
    background-color: transparent;
}

.fa-youtube:hover {
    color: red;
    background-color: transparent;
}

.fa-email:hover {
    color: green;
    background-color: transparent;
}


</style>

<!-- Shard Buttons icons -->
{%- assign social = site.social-links -%}

{%- if social.facebook -%} <a href="http://facebook.com/{{ social.facebook }}" style="background-color: transparent" class="ssk fa-facebook ssk-facebook"></a> {% endif %}

{%- if social.twitter -%} <a href="http://twitter.com/{{ social.twitter }}" style="background-color: transparent" class="ssk fa-twitter ssk-twitter"></a> {% endif %}

{%- if social.github -%} <a href="http://github.com/{{ social.github }}" style="background-color: transparent" class="ssk fa-github ssk-github"></a> {% endif %}

{%- if social.email_address -%} <a href="mailto:{{ social.email_address }}?subject=question" style="background-color: transparent" class="ssk fa-email ssk-email"></a> {% endif %}

{%- if social.youtube_channel -%} <a href="http://youtube.com/{{ social.youtube_channel }}" style="background-color: transparent" class="ssk fa-youtube ssk-youtube"></a> {% endif %}
